body
{
	background-color: #fdd;
}

div#wrapper
{
	position: relative;
	width: 960px;
	margin: 0 auto;
}

textarea#markdown, div#html
{
	position: fixed;
}

textarea#markdown
{
	top: 5em;
	left: 2em;
	width: 45%;
	height: 500px;
	display: inline;
}

div#html
{
	top: 4.25em;
	right: 2em;
	width: 45%;
	height: 504px;
	background-color: lightblue;
}
