doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script.
      if(typeof jQuery == 'undefined')
        document.write(unescape("%3Cscript src='/javascripts/jquery.js' type='text/javascript'%3E%3C/script%3E"));
    script(type="text/javascript", src="/javascripts/tags.js")
    script(type="text/javascript", src="/javascripts/mde.js")
  body
    block content